<mat-list-item class="list-item" [class.is-outdate]="isOutdate()">
    <div class="list-item__container">
        <mat-icon matListIcon class="checkbox-icon-container">
            <mat-checkbox
                color="primary"
                (change) ="toggleElem()"
                [checked]="isElemChecked"
            ></mat-checkbox>
        </mat-icon>
        <div matLine class="list-item__info" (click)="openEditReminderForm()">
            <h3 matLine class="list-item__title title"> {{ reminder.title }} 
                <span *ngIf="isOutdate()" class='titile__outdated-title'> (срок действия истёк)</span>
            </h3>
            <div mat-line class="list-item__text" *ngIf="!isOutdate()"> {{reminder.comment}} </div>
            <div mat-line class="list-item__date" *ngIf="!isOutdate()"> {{ reminder.date | date:'EEEE, d MMMM, y, HH:mm' }} </div>
        </div>
    </div>

    <div class="list-item__button-container">
        <!-- <button
            mat-mini-fab
            class="list-item__edit-button"
            color="primary"
            aria-label="Edit reminder"
            (click)="openEditReminderForm()"
        >
        <mat-icon>edit</mat-icon>
        </button> -->
        <!-- <button
            mat-mini-fab
            class="list-item__delete-button"
            color="primary" 
            aria-label="Delete reminder"
            (click)="deleteReminder()"
        >
          <mat-icon class="icon-small" >delete</mat-icon>
        </button> -->
        <button 
            mat-icon-button
            class="list-item__delete-button-new"
            aria-label="Delete reminder"
            (click)="deleteReminder()"
        >
            <mat-icon color="primary" [class.mat-icon-outdate]="isOutdate()">close</mat-icon>
        </button>
    </div>
</mat-list-item>