.list-item {
    border: 1px solid #3f51b530;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.list-item:hover {
    background-color: #3f51b524;
}

.checkbox-icon-container {
    display: flex;
}

.list-item__info {
    padding-right: 26px!important;
}

.list-item__title {
    font-size: 18px;
    font-weight: 500;
}

.list-item__text,
.list-item__title {
    margin-bottom: 5px;
}

.list-item__delete-button-new {
    position: absolute;
    top: 0;
    right: 0px;
}

.list-item__delete-button {
    width: 24px;
    height: 24px;
}

.icon-small {
    font-size: 16px;
    margin-top: -9px;
}

.mat-icon {
    color: #606ba9;
}
