<div class="reminder-app">
  <div class="reminder-app__side-menu side-menu">
    <button
      mat-mini-fab color="primary" 
      aria-label="Example icon button with a filter list icon"
      class="side-menu__add-button"
    >
      <mat-icon
        (click)="openAddReminderForm()"
      >add</mat-icon>
    </button>
  </div>

  <div class='reminder-app__content content'>
    <mat-card class="mat-elevation-z2 mat-elevation-z8">
      <!-- Заголовок -->
      <mat-card-title class="content__title" >{{ title }}</mat-card-title>

      <!-- <mat-divider></mat-divider> -->
      <!-- Кнопки выделить всё / удалить выбранное -->
      <mat-list class="content__action-button-list action-button-list">
        <!-- <div class="content__action-button-list action-button-list"> -->

          <!-- Кнопка "выделить всё" -->
          <mat-list-item class="action-button-list__action-button select-all-button">
            <!-- <mat-icon matListIcon> -->
              <mat-checkbox
                color='primary' 
                (change)="toggleAll($event)"
                [checked]="isCheckedActive()"
                [indeterminate]="remindersService.isIndeterminateActive$ | async"
                (indeterminateChange)="unselectedAll()"
              ></mat-checkbox>
            <!-- </mat-icon> -->

          </mat-list-item>

          <!-- Кнопка "удалить выбранное" -->
          <mat-list-item class="action-button-list__action-button delete-selected-button">
            <button 
              mat-raised-button
              color="primary"
              [disabled]="!hasCheckedElem"
              (click)="deleteSelected()"
            > 
              Удалить выбранное
            </button>
          </mat-list-item>
        <!-- </div> -->

      </mat-list>
      <mat-divider></mat-divider>
      <reminder-list></reminder-list>
    </mat-card>
  </div>
</div>